<html>
    <head>
        <title>NodeInit - Cadastro de Usuário</title>
    </head>
    <body>
        Nome: <%= userName %>
        <br />
        E-mail: <%= userEmail %>
        <br />
        Foto:
        <br />
        <div style="width: 600px; height: 1000px;">
            <img style="width: 100%" src="<%= userPhoto %>" />
        </div>
    </body>
</html>